################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Chat/.vs/Chat/v16/Browse.VC.opendb
