################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Chat/.vs/Chat/v16/Browse.VC.opendb
/Chat/.vs/Chat/v16/ipch/AutoPCH/a312eb4e83299df/MESSAGE.ipch
/Chat/.vs/Chat/v16/Browse.VC.db-wal
/Chat/.vs/Chat/v16/Browse.VC.db-shm
/Chat/Chat/Debug/Chat.tlog
/Chat/Chat/Debug
/Chat/Debug
/Chat/.vs/Chat/v16/ipch/AutoPCH
/Chat/.vs/Chat/v16/Browse.VC.db
/Chat/.vs/Chat/v16/.suo
/Chat/Chat/Chat.vcxproj
/Chat/Chat/Chat.vcxproj.filters
/Chat/Chat/Chat.vcxproj.user
/Chat/Chat/x64/Debug/Chat.tlog
/Chat/Chat/x64/Debug
/Chat/x64/Debug
*.user
/Chat/Chat/CMakeLists.txt
/Chat/Chat/users.txt
